.list-container {
  display: flex;
  flex-flow: column nowrap;
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 3px 3px 5px 6px #ccc;
}

input {
  padding-left: 10px;
  background-color: #fff;
  outline: none;
  height: 40px;
  border: none;
}

button {
  cursor: pointer;
  height: 42px;
  background: #fff;
  box-shadow: none;
  border-radius: 0px;
  border: 0;
  color: #1bb0f4;
  font-weight: 600;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

ul {
  background-color: #e6e6e6;
  margin: 0;
  padding-top: 16px;
}

li {
  margin-bottom: 8px;
}
